{% extends "base.html" %}
{% block title %}
<title>Reset password - Bristol Community Events</title>
{% endblock %}
{% block content %}
    <form action="" method="post" class="container">
        <label for="email">Enter your email to reset your password:</label>
        <div class="grid">
            <input type="email" name="email" id="email" placeholder="Enter your email address" required>
            <input type="submit" value="Reset Password">
        </div>
        <a href="login.html">Back to login</a>
    </form>
{% endblock %}